# Esta plantilla de configuración define un host virtual en Apache.
# Un virtualhost es un método para alojar múltiples dominios (distintos servicios/paginaswebs...) en un solo servidor web y que pueda redireccionar el trafico a cada uno de ellos según la petición del cliente.
# DocumentRoot indica el directorio raíz desde el cual Apache servirá los archivos web.
#virtualHostt 127.0.0.1:80 → Hace que Apache solo escuche peticiones locales (evita que reciba peticiones externas directamente).
#Esto permite que Nginx sea el único punto de acceso, actuando como proxy.

<VirtualHost 127.0.0.1:8080>
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html/wordpress
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
